<a href="https://colab.research.google.com/github/trijuhari/Data_science/blob/master/New_York_Restaurants_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **New York Restaurants**
Practice writing the most common types of queries.

## **New York Restaurants**
We have put together a table of restaurants called nomnom and we need your help to answer some questions. Use the SQL commands you just learned and find the best dinner spots in the city.

![alt text](https://s3.amazonaws.com/codecademy-content/courses/sql-intensive/nomnom.png)


### **Start by getting a feel for the nomnom table:**

    SELECT *
    FROM nomnom;

## **What are the distinct neighborhoods?**

      SELECT DISTINCT neighborhood
      FROM nomnom;

The neighborhoods are:

* Brooklyn
* Midtown
* Chinatown
* Uptown
* Queens
* Downtown


## **What are the distinct cuisine types?**


 
    SELECT DISTINCT cuisine
    FROM nomnom;


The cuisine types are:

* Steak
* Korean
* Chinese
* Pizza
* Ethiopian
* Vegetarian
* Italian
* Japanese
* American
* Mediterranean
* Indian
* Soul Food
* Mexican


## **Suppose we would like some Chinese takeout.**

What are our options?

 
    SELECT *
    FROM nomnom
    WHERE cuisine = 'Chinese';

## **Return all the restaurants with reviews of 4 and above.**
 
  
    SELECT *
    FROM nomnom
    WHERE review >= 4;

## **If you want to find Italian restaurants with exactly three dollar signs:**

    SELECT *
    FROM nomnom
    WHERE cuisine = 'Italian'
    AND price = '$$$';

If you want to find Italian restaurants with at least three dollar signs:

    SELECT *
    FROM nomnom
    WHERE cuisine = 'Italian'
    AND price LIKE '%$$$%';


Your coworker Trey can’t remember the exact name of a restaurant he went to but he knows it contains the word ‘meatball’ in it.

Can you find it for him using a query?


Hint
% is a wildcard character that matches zero or more missing letters in the pattern.

To find the restaurant names that contain the word ‘meatball’:

    SELECT *
    FROM nomnom
    WHERE name LIKE '%meatball%';

## **Let’s order delivery to the house!**

Find all the close by spots in Midtown, Downtown or Chinatown.

(OR can be used more than once)


Hint
We can use the OR operators to combine these conditions:

    SELECT *
    FROM nomnom
    WHERE neighborhood = 'Midtown'
      OR neighborhood = 'Downtown'
      OR neighborhood = 'Chinatown'; 


Here, we have three conditions:

neighborhood = 'Midtown'
neighborhood = 'Downtown'
neighborhood = 'Chinatown'
OR Venn Diagram ![alt text](https://s3.amazonaws.com/codecademy-content/courses/learn-sql/queries/OR-project.svg)

## **Create a Top 10 Restaurants Ranking based on reviews.**


Hint
Using ORDER BY and the DESC keyword, we can sort the restaurants by ratings from highest to lowest:

    SELECT *
    FROM nomnom
    ORDER BY review DESC;

    SELECT *
    FROM nomnom
    ORDER BY review DESC
    LIMIT 10;

## **Use a CASE statement to change the rating system to:**

* review > 4.5 is Extraordinary
* review > 4 is Excellent
* review > 3 is Good
* review > 2 is Fair

Everything else is Poor
Don’t forget to rename the new column!

    SELECT name,
    CASE
      WHEN review > 4.5 THEN 'Extraordinary'
      WHEN review > 4 THEN 'Excellent'
      WHEN review > 3 THEN 'Good'
      WHEN review > 2 THEN 'Fair'
      ELSE 'Poor'
    END AS 'Review'
    FROM nomnom;