<a href="https://colab.research.google.com/github/trijuhari/Data_science/blob/master/Usage_Funnels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Usage Funnels**
LESSON
Building funnels from a single table and multiple tables and comparing funnels for A/B Tests.

## **What is a Funnel?**
In the world of marketing analysis, “funnel” is a word you will hear time and time again.

A funnel is a marketing model which illustrates the theoretical customer journey towards the purchase of a product or service. Oftentimes, we want to track how many users complete a series of steps and know which steps have the most number of users giving up.

Some examples include:

Answering each part of a 5 question survey on customer satisfaction
Clicking “Continue” on each step of a set of 5 onboarding modals
Browsing a selection of products → Viewing a shopping cart → Making a purchase
Generally, we want to know the total number of users in each step of the funnel, as well as the percent of users who complete each step.

Throughout this lesson, we will be working with data from a fictional company called Mattresses and More. Using SQL, you can dive into complex funnels and event flow analysis to gain insights into their users’ behavior.

![alt text](https://s3.amazonaws.com/codecademy-content/courses/sql-intensive/funnels.svg)

## **Build a Funnel From a Single Table**
Mattresses and More users were asked to answer a five-question survey:

    “How likely are you to recommend Mattresses and More to a friend?”
    “Which Mattresses and More location do you shop at?”
    “How old are you?”
    “What is your gender?”
    “What is your annual household income?”
    However, not every user finished the survey!

We want to build a funnel to analyze if certain questions prompted users to stop working on the survey.

We will be using a table called survey_responses with the following columns:

 
Start by getting a feel for the survey_responses table.

Select all columns for the first 10 rec

    SELECT question_text, COUNT(DISTINCT user_id)
    from survey_responses
    group by 1;

## **Survey Result**
We could use SQL to calculate the percent change between each question, but it’s just as easy to analyze these manually with a calculator or in a spreadsheet program like Microsoft Excel or Google Sheets.

If we divide the number of people completing each step by the number of people completing the previous step:

    Question	Percent Completed this Question
    1	          100%
    2	          95%
    3	          82%
    4	          95%
    5	          74%

We see that Questions 2 and 4 have high completion rates, but Questions 3 and 5 have lower rates.

 ![alt text](https://s3.amazonaws.com/codecademy-content/courses/sql-intensive/survey.svg)

## **Compare Funnels For A/B Tests**
Mattresses and More has an onboarding workflow for new users of their website. It uses modal pop-ups to welcome users and show them important features of the site like:

    Welcome to Mattresses and More!
    Browse our bedding selection
    Select items to add to your cart
    View your cart by clicking on the icon
    Press ‘Buy Now!’ when you’re ready to checkout
    The Product team at Mattresses and More has created a new design for the    pop-ups that they believe will lead more users to complete the workflow.

They’ve set up an A/B test where:

    50% of users view the original control version of the pop-ups
    50% of users view the new variant version of the pop-ups
Eventually, we’ll want to answer the question:

How is the funnel different between the two groups?

We will be using a table called onboarding_modals with the following columns:

    user_id - the user identifier
    modal_text - the modal step
    user_action - the user response (Close Modal or Continue)
    ab_group - the version (control or variant)

    Try using a GROUP BY statement to calculate COUNT(DISTINCT user_id) for each modal_text.

And don’t forget ORDER BY to sort.

    SELECT modal_text, 
    COUNT(DISTINCT user_id)
    FROM onboarding_modals
    GROUP BY 1
    ORDER BY 1;

Result
```
Modal 1 - 1000
Modal 2 - 695
Modal 3 - 575
Modal 4 - 447
Modal 5 - 379
```

## **A/B Tests Results**
Incredible! After some quick math:

    Modal	Control Percent	Variant Percent
    1	        100%	           100%
    2	        60%	             79%
    3	        80%	             85%
    4	        80%                 80%
    5	        85%	             85%
* During Modal 2, variant has a 79% completion rate compared to control‘s 60%
* During Modal 3, variant has a 85% completion rate compared to control‘s 80%

* All other steps have the same level of completion
This result tells us that the variant has greater completion!

![alt text](https://content.codecademy.com/courses/updated_images/onboarding_Updated_1-01.svg)

## **Build a Funnel from Multiple Tables 1**
Scenario: Mattresses and More sells bedding essentials from their e-commerce store. Their purchase funnel is:

    The user browses products and adds them to their cart
    The user proceeds to the checkout page
    The user enters credit card information and makes a purchase
Three steps! Simple and easy.

As a sales analyst, you want to examine data from the shopping days before Christmas. As Christmas approaches, you suspect that customers become more likely to purchase items in their cart (i.e., they move from window shopping to buying presents).

The data for Mattresses and More is spread across several tables:

* browse - each row in this table represents an item that a user has added to his shopping cart
* checkout - each row in this table represents an item in a cart that has been checked out
*  purchase - each row in this table represents an item that has been purchased
Instructions
1.
Let’s examine each table. Note that each user has multiple rows representing the different items that she has placed in her cart.

    SELECT *
    FROM browse
    LIMIT 5;

    SELECT *
    FROM checkout
    LIMIT 5;

SELECT *
FROM purchase
LIMIT 5;
What are the column names in each table?

    The browse table has the following columns:

    user_id
    browse_date
    item_id
    The checkout table has the following columns:

    user_id
    checkout_date
    item_id
    The purchase table has the following columns:

    user_id
    purchase_date
    item_id

## **Build a Funnel from Multiple Tables 2**
First, we want to combine the information from the three tables (browse, checkout, purchase) into one table with the following schema:

    browser_date	user_id	is_checkout	is_purchase
    2017-12-20	6a7617321513	True	False
    2017-12-20	022d871cdcde	False	False
    …	…	…	…

Each row will represent a single user:

* If the user has any entries in checkout, then is_checkout will be True.
* If the user has any entries in purchase, then is_purchase will be True.
* If we use an INNER JOIN to create this table, we’ll lose information from any customer who does not have a row in the checkout or purchase table.

Therefore, we’ll need to use a series of LEFT JOIN commands.

Instructions
1.
Start by selecting all rows (*) from the LEFT JOIN of:

browse (aliased as b)
checkout (aliased as c)
purchase (aliased as p)
Be sure to use this order to make sure that we get all of the rows.

LIMIT your results to the first 50 so that it loads quickly.

    SELECT * FROM browse as 'b'
    left join  checkout as 'c'
    on  c.user_id = b.user_id
    left join purchase as 'p'
    on p.user_id = b.user_id
    limit 50;

But we don’t want all of these columns in the result!

Instead of selecting all columns using *, let’s select these four:

    DISTINCT b.browse_date
    b.user_id
    c.user_id IS NOT NULL AS 'is_checkout'
    p.user_id IS NOT NULL AS 'is_purchase'
Edit your query so that you select these columns.


    SELECT distinct b.browse_date, b.user_id,
      c.user_id is not null as  'is_checkout',
      p.user_id IS NOT NULL AS 'is_purchase'

    FROM browse as 'b'
    left join  checkout as 'c'
    on  c.user_id = b.user_id
    left join purchase as 'p'
    on p.user_id = b.user_id
    limit 50;

## **First, add a column that counts the total number of rows in funnels.**

Alias this column as ‘num_browse’.

This is the number of users in the “browse” step of the funnel.

    WITH funnels AS (
      SELECT DISTINCT b.browse_date,
        b.user_id,
        c.user_id IS NOT NULL AS 'is_checkout',
        p.user_id IS NOT NULL AS 'is_purchase'
      FROM browse AS 'b'
      LEFT JOIN checkout AS 'c'
        ON c.user_id = b.user_id
      LEFT JOIN purchase AS 'p'
        ON p.user_id = c.user_id)
    SELECT count(*) as 'num_browse'
    from  funnels;

## **Second, add another column that sums the is_checkout in funnels.**

Alias this column as ‘num_checkout’.

This is the number of users in the “checkout” step of the funnel.

    WITH funnels AS (
      SELECT DISTINCT b.browse_date,
        b.user_id,
        c.user_id IS NOT NULL AS 'is_checkout',
        p.user_id IS NOT NULL AS 'is_purchase'
      FROM browse AS 'b'
      LEFT JOIN checkout AS 'c'
        ON c.user_id = b.user_id
      LEFT JOIN purchase AS 'p'
        ON p.user_id = c.user_id)
    SELECT count(*) as 'num_browse',
    sum(is_checkout) as 'num_checkout'
    from  funnels;

## **Third, add another column that sums the is_purchase column in funnels.**

Alias this column as ‘num_purchase’.

This is the number of users in the “purchase” step of the funnel.


    WITH funnels AS (
      SELECT DISTINCT b.browse_date,
        b.user_id,
        c.user_id IS NOT NULL AS 'is_checkout',
        p.user_id IS NOT NULL AS 'is_purchase'
      FROM browse AS 'b'
      LEFT JOIN checkout AS 'c'
        ON c.user_id = b.user_id
      LEFT JOIN purchase AS 'p'
        ON p.user_id = c.user_id)
    SELECT count(*) as 'num_browse',
    sum(is_checkout) as 'num_checkout',
    sum(is_purchase) as 'num_purchase'

    from  funnels;

Finally, let’s do add some more calculations to make the results more in depth.

Let’s add these two columns:

    Percentage of users from browse to checkout
    Percentage of users from checkout to purchase
    1.0 * SUM(is_checkout) / COUNT(user_id),
    1.0 * SUM(is_purchase) / SUM(is_checkout)

    WITH funnels AS (
      SELECT DISTINCT b.browse_date,
        b.user_id,
        c.user_id IS NOT NULL AS 'is_checkout',
        p.user_id IS NOT NULL AS 'is_purchase'
      FROM browse AS 'b'
      LEFT JOIN checkout AS 'c'
        ON c.user_id = b.user_id
      LEFT JOIN purchase AS 'p'
        ON p.user_id = c.user_id)
    SELECT count(*) as 'num_browse',
    sum(is_checkout) as 'num_checkout',
    sum(is_purchase) as 'num_purchase',
    1.0 * SUM(is_checkout) / COUNT(user_id) AS 'browse_to_checkout',
    1.0 * SUM(is_purchase) / SUM(is_checkout) AS 'checkout_to_purchase'
    from  funnels;

## **Build a Funnel from Multiple Tables 4**
So, we’ve created a funnel for Mattresses and More’s purchase process! It looks like:

    WITH funnels AS (
      SELECT DISTINCT b.browse_date,
        b.user_id,
        c.user_id IS NOT NULL AS 'is_checkout',
        p.user_id IS NOT NULL AS 'is_purchase'
      FROM browse AS 'b'
      LEFT JOIN checkout AS 'c'
        ON c.user_id = b.user_id
      LEFT JOIN purchase AS 'p'
        ON p.user_id = c.user_id)
    SELECT COUNT(*) AS 'num_browse',
      SUM(is_checkout) AS 'num_checkout',
      SUM(is_purchase) AS 'num_purchase',
      1.0 * SUM(is_checkout) / COUNT(user_id) AS 'browse_to_checkout',
      1.0 * SUM(is_purchase) / SUM(is_checkout) AS 'checkout_to_purchase'
    FROM funnels;


The management team suspects that conversion from checkout to purchase changes as the browse_date gets closer to Christmas Day.

We can make a few edits to this code to calculate the funnel for each browse_date using GROUP BY.

## **Results**
Overall conversion rates:

    browse	checkout	purchase	browse_to_checkout	checkout_to_purchase
    775	      183	       163	         0.236	            0.890

How conversion rates change as we get closer to Christmas:

    browse_date	browse	checkout	purchase	browse_to_checkout	checkout_to_purchase
    2017-12-20	100	       20	       16	          0.2	           0.8
    2017-12-21	150	       33	       28	         0.22	           0.84
    2017-12-22	250	       62	       55	         0.24	           0.88
    2017-12-23	275	       68	       64	         0.24	           0.94

Oh wow, look at the steady increase in sales (increasing checkout_to_purchase percentage) as we inch closer to Christmas Eve!

![alt text](https://s3.amazonaws.com/codecademy-content/courses/sql-intensive/purchase.svg)

## **Usage Funnels with Warby Parker**


Warby Parker is a transformative lifestyle brand with a lofty objective: to offer designer eyewear at a revolutionary price while leading the way for socially conscious businesses. Founded in 2010 and named after two characters in an early Jack Kerouac journal, Warby Parker believes in creative thinking, smart design, and doing good in the world. For every pair of eyeglasses and sunglasses sold, a pair is distributed to someone in need.

In this project, you will analyze different Warby Parker’s marketing funnels in order to calculate conversion rates. Here are the funnels and the tables that you are given:

Quiz Funnel:

survey
Home Try-On Funnel:

    quiz
    home_try_on
    purchase
This project was a collaboration with Warby Parker’s Data Science team (thank you!) and uses fictional data.

To help users find their perfect frame, Warby Parker has a Style Quiz that has the following questions:

“What are you looking for?”
“What’s your fit?”
“Which shapes do you like?”
“Which colors do you like?”
“When was your last eye exam?”
The users’ responses are stored in a table called survey.

Select all columns from the first 10 rows. What columns does the table have?

    SELECT *
    FROM survey
    LIMIT 10;

## **Users will “give up” at different points in the survey. Let’s analyze how many users move from Question 1 to Question 2, etc.**

Create a quiz funnel using the GROUP BY command.

What is the number of responses for each question?


Hint
```
SELECT question,
COUNT(DISTINCT user_id)
FROM survey
GROUP BY question;
```
You can also use column reference number:

    SELECT question,
      COUNT(DISTINCT user_id)
    FROM survey
    GROUP BY 1;

```
Question 1 - ?
Question 2 - ?
Question 3 - ?
Question 4 - ?
Question 5 - ?
```

## **We’d like to create a new table with the following layout:**

    user_id	is_home_try_on	number_of_pairs	is_purchase
    4e8118dc	  True	             3	        False
    291f1cca	  True	             5	        False
    75122300	  False	             NULL	    False

Each row will represent a single user from the browse table:

If the user has any entries in home_try_on, then is_home_try_on will be True.
number_of_pairs comes from home_try_on table
If the user has any entries in purchase, then is_purchase will be True.
Use a LEFT JOIN to combine the three tables, starting with the top of the funnel (quiz) and ending with the bottom of the funnel (purchase).

Select only the first 10 rows from this table (otherwise, the query will run really slowly).


Hint
We use a LEFT JOIN to combine the three tables, starting at the top of the funnel (browse) and ending with the bottom of the funnel (purchase).

    SELECT DISTINCT q.user_id,
      h.user_id IS NOT NULL AS 'is_home_try_on',
      h.number_of_pairs,
      p.user_id IS NOT NULL AS 'is_purchase'
    FROM quiz q
    LEFT JOIN home_try_on h
      ON q.user_id = h.user_id
    LEFT JOIN purchase p
      ON p.user_id = q.user_id
    LIMIT 10;

## **Once we have the data in this format, we can analyze it in several ways:**

We can calculate overall conversion rates by aggregating across all rows.
We can compare conversion from quiz→home_try_on and home_try_on→purchase.
We can calculate the difference in purchase rates between customers who had 3 number_of_pairs with ones who had 5.
And more!
We can also use the original tables to calculate things like:

    The most common results of the style quiz.
    The most common types of purchase made.
    And more!
    What are some actionable insights for Warby Parker?